@page
@model ITGlobersTest.Pages.Libros.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Libro.Titulo" class="control-label"></label>
                <input asp-for="Libro.Titulo" class="form-control" />
                <span asp-validation-for="Libro.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Libro.Sinopsis" class="control-label"></label>
                <input asp-for="Libro.Sinopsis" class="form-control" />
                <span asp-validation-for="Libro.Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Libro.Paginas" class="control-label"></label>
                <input asp-for="Libro.Paginas" class="form-control" />
                <span asp-validation-for="Libro.Paginas" class="text-danger"></span>
            </div>
            @if ((ViewData["editoriales"] as List<Domain.Libreria.Editorial>).Count > 0)
            {
                <div class="form-group">
                    <label class="control-label">Editorial</label>
                    <select class="form-control" asp-for="selectedEditorial" asp-items="@(new SelectList(ViewData["editoriales"] as List<Domain.Libreria.Editorial>, "Id", "Nombre"))">
                    </select>
                </div>
            }
            @if ((ViewData["autores"] as List<Domain.Libreria.Autor>).Count > 0)
            {
                <div class="form-group">
                    <label class="control-label">Autor</label>
                    <select class="form-control" asp-for="selectedAutor" asp-items="@(new SelectList(ViewData["autores"] as List<Domain.Libreria.Autor>, "Id", "Nombre"))">
                    </select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
