@page
@model ITGlobersTest.Pages.Editoriales.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Editorial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Editorial.Nombre" class="control-label"></label>
                <input asp-for="Editorial.Nombre" class="form-control" />
                <span asp-validation-for="Editorial.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editorial.Sede" class="control-label"></label>
                <input asp-for="Editorial.Sede" class="form-control" />
                <span asp-validation-for="Editorial.Sede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Libros</label>
                <select class="form-control" asp-for="selectedLibro" asp-items="@(new SelectList(ViewData["libros"] as List<Domain.Libreria.Libro>, "Id", "Titulo"))">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
